# Binários e pastas de build
**/bin/
**/obj/
**/out/

# IDEs e configurações locais
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos do Rider
*.DotSettings.user

# Arquivos do Visual Studio
*.vs/

# MacOS
.DS_Store

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Outras
*.ncrunchproject
*.localhistory
_ReSharper*/

# Backups
*.bak
*.old

# Arquivos de publish do .NET
publish/
