# Binários e pastas de build
**/bin/
**/obj/

# IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos do Rider
*.DotSettings.user

# MacOS
.DS_Store

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Outras
*.ncrunchproject
*.localhistory
_ReSharper*/
